*{ 
    margin: 0px;
    padding: 0px;
}
body{ 
    width: 100vw;
    height:100vh; 
}
.main-frame{ 
    display:flex; 
    flex-direction: row;
    /* width: 99vw; */
    flex: 1;
    height: 100%;
    /* padding-top: 1px; */
}
/* ....Nav-Bar... */
.nav-bar{ 
    background-color: black;
    display: flex;
    flex-direction: column;
    /* width: 25%; */
    flex: 0.1;
    height: 100%;
}
.scrollbar{ 
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.scrollbar-1{ 
    display: flex;
    flex-direction: column;
    height: 35%;

    border-bottom: 1px solid white;
    overflow: scroll;
}
.logo{ 
    margin-left: 20px;
    margin-bottom: 20px;
    width: 202.58px;
    height: fit-content;
    padding-top:39px; 
    align-items: center;
    justify-content: center;
}
.logo img{ 
    width: 80%;
}
.home-search-library{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 25px;
}
.home-search-library-items{ 
    display: flex;
    /* justify-content: space-around; */
    align-items: left; 
    width: 98%;
    height: fit-content;
    transition:all 0.5s ease-in-out;
}
.home-search-library-items img{ 
    width: 29.65px;
    height: 32.12px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.home-search-library-items a{ 
    color: white;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px
}
.home-search-library-items:hover{ 
    background-color: rgb(40,40,40);
    border-radius: 6px;
}
.playlist-area{ 
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    align-items: left;
    height: fit-content;
}
.playlist-area-items{ 
    display: flex;
    /* justify-content: space-around; */
    align-items: left; 
    width: 98%;
    height: fit-content;
}

.playlist-area-items h6{ 
    color: white;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px
}
.playlist-area-items-img-1{ 
    width: 29.65px;
    height: 29.65px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border-radius: 2px;
    margin-top: 10px; 
    cursor: pointer;
}

.playlist-area-items-img-2{ 
    width: 29.65px;
    height: 29.65px;
    background: linear-gradient(to bottom right, #5626ee, #bae2d7);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border-radius: 2px;
    margin-top: 10px;
    cursor: pointer;
}
.playlist-area-items-img-3{ 
    width: 29.65px;
    height: 29.65px;
    background-color: #004638;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

/* ....Nav-Bar... */
/* ...Main-area... */
.main-area{ 
    /* width: 75%; */
    display: flex;
    flex: 0.9;
    background-color: #171717;
    flex-direction: column;
    align-items: center ;

}
.hero-section{ 
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: left;
    align-items:left;
    background-color: red;
    background: linear-gradient(to bottom, #8daaa3, #3b4744);
}
.hero{ 
    display: flex ;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    height: 100%;
}
.hero-section-1 img{ 
    width: 230px;
    height: 233px;
}
.hero-section-2{ 
    color: white;
}
.inner{ 
    display: flex;
}
.inner ul{ 
    display: flex;
    padding-left: 20px;
}
.body{
    /* background: linear-gradient(to bottom, #2b3533 , #1c2322, #0000 ); */
    background-color: black;
    width: 100%;
    /* height: 55%; */
    color: white;
    overflow: scroll;
 }
 .body nav{ 
    width: 100%;
    height:fit-content; 
    position: sticky;
    top: 0;
    background:linear-gradient(to bottom, #2b3533 , #1c2322, #0000 );
    padding-bottom: 50px;
 }
 .body-icons{ 
    display: flex;
    width: 137px;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
    /* background: red; */
 }
 .table-class
 { 
    width: 100%;
    height: fit-content;
    /* padding-left: 50px; */
 }
 table{ 
    width: 100%;
    padding-bottom: 130px;
    padding-left: 50px;
    border-collapse: collapse;
 }
 
 table tbody tr{ 
    background-color: black;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    border-collapse: collapse;

 }
 table tbody tr td{ 
    padding: 10px;
 }
 table tr th{ 
    /* background-color: #252e2c; */
    text-transform: uppercase;
 }
 table tbody tr:hover{ 
    background-color: #232625;
    border-radius: 10px;
 }
 .table-div{ 
    width: 100%;
 }
 .table-div table{ 
    padding-left: 10px;
 }
 table tr td{ 
    font-size: 12px;
    font-weight: 400;
    text-align: center;
 }
 table thead th{ 
    font-size: 12px;
    font-weight: 400;
    text-align: center;
 }
 /* table tr td .table-row-data-div{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
 } */
 .table-row-data-div{ 
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
.section-4{ 
    background-color: #181818;
    width: 100%;
    height: fit-content;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.music-box{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 224px;
    height: fit-content;
    color: white;
}
.music-box-components{ 
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.music-player{ 
    width: 742px;
    height: fit-content;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.music-icon-components{ 
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:3px
}
.music-indicator{ 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.music-indicator-inner{ 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.volume-control { 
    width: 270px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.music-control{ 
    width:80%;
    height: 6px;
    background-color: #535353;
    border-radius: 10px;
}
.music-control-control{ 
    width: 100%;
    height: 100%;
    background-color: #b3b3b3;
    border-radius: 10px;
}
.music-control-1{ 
    width:50%;
    height: 6px;
    background-color: #535353;
    border-radius: 10px;
}
.music-control-control-1{ 
    width: 100%;
    height: 100%;
    background-color: #b3b3b3;
    border-radius: 10px;
}
::-webkit-scrollbar{ 
    display: none;
}
.main-area .mainarea-nav{ 
    display: none;
}
@media(max-width: 420px){ 
    .nav-bar{ 
        display: none;
    }
    .see-all{ 
        display: none;
    }
    .main-area{ 
        flex: 1;
    }
    .hero{ 
        flex-wrap: wrap;
        overflow: scroll;
    }
    .hero-section-2{ 
        text-align: center;
    }
    .inner p{ 
        padding-left: 40px;
    }
    .inner ul{ 
        padding-right: 40px;
    }
    .body nav{ 
        background: #000;
        width: 100%;
    }
    .table-class{ 
        width: 97%;
    }
    .table-div{ 
        overflow: scroll;
    }
    .music-box{
        display: none;
    }
    .volume-control{ 
        display: none;
    }
    #volume{ 
        display: block;
    }
    .main-area nav{ 
        visibility: visible;
    }
    .main-area .mainarea-nav{ 
        display: block;
        position: sticky;
        top: 0;
        background-color: black;
    }
    .nav-bar-main-area{ 
        display: flex;
        padding: 20px;
    }
    .nav-bar-section-1{ 
        width: 70%;
    }
    .nav-bar-section-2{ 
        width:30%; 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-bar-section-2 button{ 
        padding: 5px 15px;
        font-size:8px; 
        color: black;
        background-color: white;
        border-radius: 50px;
        border: none;
        transition: all 0.3s ease;
    }
    .nav-bar-section-2 button:hover{ 
        background-color: rgb(220, 220, 220);
    }
    .music-indicator{ 
        padding: 5px 10px;
    }
}

@media(orientation:portrait){ 
    .nav-bar{ 
        display: none;
    }
    .see-all{ 
        display: none;
    }
    .main-area{ 
        flex: 1;
    }
    .hero{ 
        flex-wrap: wrap;
        overflow: scroll;
    }
    .hero-section-2{ 
        text-align: center;
    }
    .inner p{ 
        padding-left: 40px;
    }
    .inner ul{ 
        padding-right: 40px;
    }
    .body nav{ 
        background: #000;
        width: 100%;
    }
    .table-class{ 
        width: 97%;
    }
    .table-div{ 
        overflow: scroll;
    }
    .music-box{
        display: none;
    }
    .volume-control{ 
        display: none;
    }
    #volume{ 
        display: block;
    }
    table tbody tr td{ 
        text-align: center;
        border-collapse: collapse;
    }
    .main-area nav{ 
        display: block;
    }
    .main-area .mainarea-nav{ 
        display: block;
        position: sticky;
        top: 0;
        background-color: black;
    }
    .nav-bar-main-area{ 
        display: flex;
        padding: 20px;
    }
    .nav-bar-section-1{ 
        width: 70%;
        display: flex;
        align-items: center;
    }
    .nav-bar-section-2{ 
        width:30%; 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-bar-section-2 button{ 
        padding: 5px 10ox; 
        font-size: 8px;
        color: black;
        background-color: white;
        border-radius: 50px;
        border: none;
        transition: all 0.3s ease;
    }
    .nav-bar-section-2 button:hover{ 
        background-color: rgb(220, 220, 220);
    }
    .music-indicator{ 
        padding: 5px 10px;
    }
}

@media(min-width:452px) and (max-width:761px){ 
    .nav-bar-section-2 button{ 
        font-size: 13px;
        padding: 5px 15px;
    }
    .music-indicator{ 
        padding: 5px 10px;
    }
}
@media(min-width:762px){ 
    .nav-bar-section-2 button{ 
        font-size: 13px;
        padding: 5px 15px;
    }
    .music-indicator{ 
        padding: 5px 10px;
    }
}
@media(max-width:450px){ 
    .nav-bar-section-2 button{ 
        font-size: 10px;
        padding: 5px 10px;
    }
    .music-indicator{ 
        padding: 5px 10px;
    }
}
@media(max-width:371px){ 
    .nav-bar-section-2 button{ 
        font-size: 5px;
        padding: 5px 10px;
    }
    .music-indicator{ 
        padding: 5px 10px;
    }
}
/* fina comit */
